<!DOCTYPE html>
<html lang="hu">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
  <style>
    /*mivel itt nincs footer, a minden ne legyen annyival kisebb*/
    #minden {
        min-height: 100vh;
    }
  </style>
</head>

<body>

    	<div id="minden">

    	<section>
   		<form class="col-12" method="POST">
            <div id="loginbox">
                <div class="description">
                    <span>Bejelentkezés a Fényképalbumba</span>
                </div>
                <label for="email">E-mail<br>
                    <input id="email" name="loginemail" type="email" placeholder="E-mail" required>
                </label> <br>
                <label for="password">Jelszó<br>
                    <input id="password" name="loginpassword" type="password" placeholder="Jelszó" required>
                </label> <br>
                <input type="hidden" name="login" value="login"/>
                <button type="submit" class="btn" value="login">Bejelentkezés</button>
                <div class="signup">
                    Nem rendelkezik fiókkal? <a href="#" data-toggle="modal" data-target="#modal-signup">Regisztrájon itt!</a>
                </div>
            </div>
        </form>

    </section>

    </div> <!-- minden -->

    <!-- modal-signup -->
    <div class="modal fade" id="modal-signup" role="dialog" aria-labelledby="modal-signup" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Regisztráció a Fényképalbumba</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="">
                    <div class="modal-body">
                        Egy perc múlva részese lehet eme csodálatos utazásnak!<br><br>
                        <input type="email" name="email" placeholder="E-mail" maxlength="50" required>
                        <input type="password" name="password" placeholder="Jelszó" maxlength="30" required>
                        <input type="password" name="passwordagain" placeholder="Jelszó újra" maxlength="30" required>
                        <input type="text" name="nick" placeholder="Nicknév" maxlength="20" required>
                        <input type="text" name="fullname" placeholder="Teljes név" maxlength="50" required>
                        <select name="location">
                            <option selected hidden value="">Tartózkodási hely</option>
                            {% for s in settlements %}
                                <option value="{{s[0]}}">{{s[1]}}</option>
                            {% endfor %}
                        </select> <br>
                        <input onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Születési dátum" name="birthdate" required/> <br>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn">Mégse</a>
                        <input type="hidden" name="signup" value="signup"/>
                        <input type="submit" class="btn" value="Regisztráció"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
      <!-- modal-modify END -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% if errormsg|length > 0 %}
        <script>
          //ha volt egy errorunk
          $(document).ready(function(){
            alert("{{errormsg}}");
          });
        </script>
    {% endif %}

</body>

</html>
