<!DOCTYPE html>
<html lang="hu">
    <head>
        <title>Fényképalbum - Képek</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
    </head>
    <body>

    <div id="minden">

        <nav class="navbar navbar-expand-md sticky-top">
            <a class="navbar-brand" href="#">Fényképalbum</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="categories">Kategóriák</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link activetab" href="#">Képeink</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mostactive">Legaktívabb arcok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="worldmap">Világatlasz</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="profile" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ session.get('nick') }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="profile">Saját profil megtekintése</a>
                            <a class="dropdown-item" href="logout">Kijelentkezés</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <header class="page-header header">

            <div class="description">
                <h1>Képeink</h1>
                <p>Az összes kép, amit felhasználóink feltöltöttek.</p>
            </div>

        </header>

        <section>
        {% for image_name, description in image_names.items() %}
            <div class="gallery">
                <img class="image" src=" {{url_for('send_image', filename=image_name)}}">
                <div class="desc">{{ description }}</div>
                <div class="ratings">
                    <a class="fa fa-star-o"  href="{{ url_for('send_rating', filename=image_name, score=1) }}"></a>
                    <a class="fa fa-star-o"  href="{{ url_for('send_rating', filename=image_name, score=2) }}"></a>
                    <a class="fa fa-star-o"  href="{{ url_for('send_rating', filename=image_name, score=3) }}"></a>
                    <a class="fa fa-star-o"  href="{{ url_for('send_rating', filename=image_name, score=4) }}"></a>
                    <a class="fa fa-star-o"  href="{{ url_for('send_rating', filename=image_name, score=5) }}"></a>
                </div>
                <input type="text" style="display: none" id="ratingValue">
            </div>
        {% endfor %}
        </section>
    </div>

    <footer class="page-footer">
        <span class="left">2020, Köhlesläger</span>
        <span class="right">Fényképalbum</span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% if errormsg|length > 0 %}
        <script>
            //ha volt egy errorunk
            $(document).ready(function(){
                alert("{{errormsg}}");
            });
        </script>
    {% endif %}
    <!-- Értékelés csillagokkal-->
    <script>
            {#lekérjük a ratings értékeit vagyis a csillagokat#}
            let stars = document.querySelector('.ratings').children;
            let ratingValue = document.querySelector("#ratingValue");
            let index;
            for (let i = 0; i < stars.length; i++) {
                <!-- Ha az egeret rávisszük akk jelölje ki a csillagokat-->
                stars[i].addEventListener("mouseover", function () {
                    for (let j = 0; j < stars.length; j++) {
                        stars[j].classList.remove("fa-star");
                        stars[j].classList.add("fa-star-o");
                    }
                    for (let j = 0; j <= i; j++) {
                        stars[j].classList.remove("fa-star-o");
                        stars[j].classList.add("fa-star");
                    }
                });
                stars[i].addEventListener("click", function () {
                    ratingValue.value = i + 1;
                    index = i;

                })
                // ha kikattintunk akkor is maradjanak meg a pontozott részek
                stars[i].addEventListener("mouseout", function () {
                    for (let j = 0; j < stars.length; j++) {
                        stars[j].classList.remove("fa-star");
                        stars[j].classList.add("fa-star-o");
                    }
                    for (let j = 0; j <= index; j++) {
                        stars[j].classList.remove("fa-star-o");
                        stars[j].classList.add("fa-star");
                    }
                })
            }
    </script>
    </body>
</html>